.camera-controller {
  &__devices {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: start;

    li {
      width: 100%;
      overflow: hidden;
    }
  }

  &__no-devices {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
}
