.chat {
  @media (max-width: 767px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }

  &__list {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 12px;
    padding: 0 3px;
    border-bottom: 1px solid $primary-4;
    flex-grow: 0;
    flex-shrink: 0;
  }

  &__content {
    width: 100%;
    background-color: $primary-2;
    flex: 1 1 24px;
    overflow-y: scroll;
  }

  &__message-input {
    height: fit-content;
    margin: 0 1%;
    width: 98%;
    flex: 0 2 54px; 
  }

  &__item {
    cursor: pointer;
    padding: 6px 18px 18px 18px;
    background-color: transparent;
    text-align: start;


    &_current {
      transition: .2s ease-in;
      box-shadow: 0 8px 6px -6px $primary-7;
    }
  }

  &__message {
    width: 100%;
    background-color: $primary-3;
    border-radius: 12px;
    padding: 3px 6px;
    margin: 12px;

    &_my {
      margin: 12px;
      background-color: $primary-4;
      border-radius: 12px;
      padding: 3px 6px;
    }
  }
}
