@use '../../assets/styles/colors.scss' as colors;

.chat {
  width: 100%;
  overflow: hidden;

  @media (max-width: 767px) {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 .2rem;
  }

  &__tabs {
    height: 100%;
  }

  &__list {
    display: inline-flex;
    flex-direction: column;
    flex: 0 0 auto;
  }

  &__messages {
    width: 100%;
    overflow-y: scroll;
  }

  &__content {
    height: 100%;
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    flex: 1 0 1rem;
    gap: .3rem;
    overflow-x: hidden;
  }

  &__submit {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    flex: 0 0 auto;
    align-items: center;
    padding: 0 .4rem;
    gap: .2rem;
    border-radius: 1rem;
  }

  &__input {
    width: 100%;

    input {
      width: 100%;
    }
  }

  &__item {
    cursor: pointer;
    background-color: transparent;
    text-align: start;

    &_current {
      padding-bottom: .5rem;
      transition: .2s ease-in;
      box-shadow: 0 8px 6px -6px colors.$primary-7;
    }
  }

  &__message {
    display: flex;
    flex-direction: column;
    gap: .2rem;
    padding: .5rem;
  }

  &__message[user-data="me"] {
    align-items: flex-end;
    align-self: flex-end;
    margin-right: 1rem;
    border-radius: 1rem 1rem 0 1rem;
  }

  &__message[user-data="guest"] {
    align-items: flex-start;
    align-self: flex-start;
    border-radius: 1rem 1rem 1rem 0;
  }
  
  .chat__message_nick[user-data="me"] {
    display: none;
  }
}

[role='presentation'] {
  height: 100%;
  display: flex;
  flex-direction: column;
}

[role='tabpanel'] {
  display: flex;
  flex: 1 0 5rem;
  overflow: hidden;
}

.message {

  display: flex;
  flex-direction: column;
  row-gap: .4rem;

  &__nick {
    font-family: 'Inter-V';
    font-size: .8rem;
  }

  &__text {
    font-family: 'Inter-V';
    font-size: 1rem;
    overflow-wrap: break-word;
    max-width: 80vw;
  }

  &__time {
    font-family: 'Inter-V';
    font-size: .6rem;
  }
}
