.chat {
  width: 100%;
  overflow: hidden;

  @media (max-width: 767px) {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 4px $primary-3;
    border-radius: 24px;
    margin: 0 2px;
  }

  &__list {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding: .5rem 1rem;
  }

  &__content {
    width: 100%;
    background-color: $primary-2;
    display: flex;
    flex-direction: column;
    flex: 1 0 1rem;
    gap: .3rem;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  &__submit {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .4rem;
    gap: .5rem;
    background-color: $primary-3;
    border-radius: 16px;
  }

  &__input {
    display: inline-flex;
    flex: 1 0 80%;
  }

  &__button {
  }

  &__item {
    cursor: pointer;
    background-color: transparent;
    text-align: start;

    &_current {
      padding-bottom: .5rem;
      transition: .2s ease-in;
      box-shadow: 0 8px 6px -6px $primary-7;
    }
  }

  &__message {
    display: flex;
    flex-direction: column;
    gap: .2rem;
    padding: .5rem 1rem;
    max-width: 90%;

    &_time {
      color: $primary-7; 
    }

    &_text {
      width: 100%;
      height: auto;
    }
  }

  &__message[user-data="me"] {
    align-items: flex-end;
    align-self: flex-end;
    background-color: $primary-4;
    margin-right: 1rem;
    border-radius: 14px 14px 0 14px;
  }

  &__message[user-data="guest"] {
    align-items: flex-start;
    align-self: flex-start;
    background-color: $primary-3;
    margin-left: 1rem;
    border-radius: 14px 14px 14px 0;
  }
  
  .chat__message_nick[user-data="me"] {
    display: none;
  }
}
