@media (max-width: 768px) {

  .input-text-container {

    height: 56px;
    
    label {
      display: none;
    }

    input {
      @include text-input($primary-2, $primary-3);
      
      font-size: medium;
      &:focus {
        background-color: $primary-3;
        // add shadow
        box-shadow: 0 0 4px $primary-8;
      }
    }
      
    &_error {
      height: 56px;
      input {
        box-shadow: 0 0 4px $primary-10;
        @include text-input($primary-10, $primary-3);
      }      
    }
  }
}
