.user-profile {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  width: 100%;
  padding: 1rem;

  &__logout {
    width: 3rem;
    height: 3rem;
  }

  &__avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    &_img {
      object-fit: fill;
      width: 8rem;
      border-radius: 50%;
    }
  }

  &__form {
    width: 100%;
    min-height: 100%;

    &_body {
      width: 100%;
      display: inline-flex;
      flex-direction: column;
      flex: 1 0 50%;
    }
    &_footer {
      width: 100%;
      display: inline-flex;
      flex: 0 1 auto;
    }
  }
}
