.user-profile {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100%;
  height: 100%;

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__content {
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0;
  }

  &__footer {
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: flex-end;
  }

  &__logout {
    width: 100%;
    display: inline-flex;
    flex: 0 1 auto;
  }

  &__title {
    @media  (max-width: 647px) {
      position: absolute;
      top: 15vh;
    }
  }

  &__header {
    width: 100%;

    @media  (max-width: 647px) {
      width: 100%;
      height: 12%;
      overflow: hidden;
      display: inline-flex;
      flex: 0 0 6rem;

      img {
        width: 100%;
        height: auto;
        object-fit: cover;
        background-color: var(--p-slate-100);
      }
    }
  }

  &__body {
    display: inline-flex;
    flex: 1 0 auto;
  }

  &__amount {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  &__avatar {
    display: inline-flex;
    align-self: flex-end;

    &_img {
      object-fit: fill;
      width: 8rem;
      border-radius: 50%;
    }
  }

  &__form {
    width: 100%;
    display: flex;
    flex: 1 0 50%;
    
    &_body {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: .5rem;
    }

    &_footer {
      width: 100%;
      display: flex;
      flex: 0 1 auto;
    }
  }
}

[data-pc-section='title'] {
  display: inline-flex;
  align-self: center;
}

[data-pc-section='subtitle'] {
  display: inline-flex;
  align-self: center;
}

[data-pc-section='footer'] {
  width: 100%;
  display: inline-flex;
  flex: 1 0 20%;
}

[data-pc-section='caption'] {
  display: inline-flex;
  flex: 0 1 auto; 
}
