
.navbar {
  display: flex;
  max-height: 12vh;
  width: 100%;
  background-color: var(--p-slate-200);
}

.menu {
  width: 100%;

  &__container {
    display: flex;
    justify-content: end;
    width: 100%;
  }

  &__item:first-child {
    display: inline-flex;
    flex: 1 0 fit-content;
  }

  &__item {
    display: inline-flex;
    flex: 0 1 min-content;
    margin-left: .5rem;
  }
}
