@media screen {

  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: $primary-4;

    &__logo {
        padding: 8px;
        cursor: none;
      }

    &__menu {
      padding: 0 24px;
    }

    &__option { 

      &_hidden {
        display: none;
      }

      &_visible {
        display: block;
      }
    }

    ul {
    }

    a {
      text-decoration: none;
    }

    a:link {
      color: $primary-2;
    }

    a:visited {
      color: $primary-3;
    }

    a:active {
      color: $primary-4;
    }

    a:focus {
      color: $primary-2;
      text-decoration: underline;
    }
  }


  @media (min-width: 1200px) {
    .navbar {
      
      ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: baseline;
      }
    }
  }

  @media (max-width: 767px) {
    .navbar {   
      ul {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        gap: 12px;
      }
    }
  }
}
