
  @media (max-width: 767px) {

    .media {
      width: 100%;
      min-height: 10rem;

      &_small {
        position: absolute;
        max-width: 30%;
        height: auto;
      }
    }

  }

  @media (min-width: 1280px) {
    .media {
      width: 100%;
    }
  }

:picture-in-picture {
  display: none;
}
