.publisher-stream {
  @media (min-width: 1200px) {
  }

  @media (max-width: 767px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__publisher-video {
      max-width: 100%;
      margin: 0 auto;
    }

    &__client-video {
      max-width: 100%;
      margin: 0 auto;

      &_hidden {
        display: none;
      }
    }

    &__controls {
      position: absolute;
      top: 66px;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      row-gap: 6px;
      margin-bottom: 12px;

      button {
        border: 24px;
      }
    }

    &__button {
      width: 100%;
      margin-top: 8px;
      padding: 0 8px;
      height: 36px;
    }

    &__chat {
      width: 100%;
      height: 100%;
      padding: 3px 6px; 
    }
  }

  video {
    width: 100%;
    height: auto;

  }

}

:picture-in-picture {
  display: none;
}
