@use '../../../../assets/styles/colors.scss' as colors;
@use '../../../../assets/styles/mixins.scss' as *;

@media screen {

  @media (max-width: 767px) {
    .text-button {
      
      &__primary {
        padding: 12px 20px;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: .9px;
        @include text-button (colors.$primary-2, colors.$primary-5);
      }

      &__tertiary {
        padding: 12px 20px;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: .9px;
        @include text-button (colors.$primary-7, colors.$primary-4);
      }

      &__fourth {
        padding: 12px 20px;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: .9px;
        @include text-button (colors.$primary-7, colors.$primary-6);
      }

      &:active {
        @include text-button (colors.$primary-2, colors.$primary-7);
      }

      &__disabled {
        padding: 12px 20px;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: .9px;
        @include text-button (colors.$primary-8, colors.$primary-7);
      }
    }
  }

  @media (max-width: 1200px) {
  }

  
}
