
.streamer-item {
  padding: 1rem;
  background-color: var(--p-slate-100);
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: .35rem;
  border: 1px solid var(--p-slate-200);
  border-radius: 1rem;

  &__avatar {
    height: 5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .2rem;
    padding: .2rem;
  }
}
