.rooms {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 100%;
}

.room_container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: $primary-4;
  margin: 2px;

}
