
@media (max-width: 767px) {
  .streams {
    width: 100%;
    height: 100%;

    &__list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-auto-flow: row;
      grid-auto-rows: 10rem;
      gap: .5rem;
      padding: .5rem;

      &_empty {
        display: grid;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
      }
    }
  }
}


[data-pc-section='content'] {
  width: 100%;
  height: 100%;
}

[data-pc-name='dataview'] {
  width: 100%;
  height: 100%;
}
