@media screen {

  .form-general {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    gap: 1rem;

    @media (max-height: 667px) {
      gap: .5rem;
    }
    
    form {
      display: flex;
      width: 100%;
      height: 100%;
    }

    @media (max-width: 667px) {
      
    }

    @media (min-width: 1200px) {
    }
  }
}
