
video {
  width: 100%;
  max-height: auto;
}

@media (max-width: 767px) {
  .subscriber {
    display: flex;
    flex-direction: column;
    
    &__content {
      height: 100%;
      width: 100%;
    }

    &__publisher-media {
      display: flex;
      justify-content: center;
      width: 100%;
      border: 1px solid transparent;
      overflow: hidden;
    }

    &__publisher-avatar {
      width: 100%;
    }
  }
}

.offline-enter-active,
.offline-leave-active {
  transition: opacity .8s ease;
}

.offline-enter-from,
.offline-leave-to {
  opacity: 0;
}
