
video {
  width: 100%;
  max-height: auto;
}

@media (max-width: 767px) {
  .publisher__avatar {
    width: 100%;

    &_disabled {
      display: none;
    }
  }

  .subscriber {
    display: flex;
    flex-direction: column;
    
    &__content {
      height: 100%;
      width: 100%;
    }

    &__media {
      display: flex;
      width: 100%;

      &_large {
        display: flex;
        justify-content: center;
        width: 100%;
        border: 1px solid transparent;
        overflow: hidden;
      }

      &_small {
        max-width: 45%;
        height: auto;
      }

      &_disabled {
        display: none
      }
    }

    
  }
}

.offline-enter-active,
.offline-leave-active {
  transition: opacity .8s ease;
}

.offline-enter-from,
.offline-leave-to {
  opacity: 0;
}
