.room {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  gap: .1rem;

  &__media {
    width: 100%;
    height: fit-content;
    display: inline-flex;
    flex: 0 1 auto
  }

  &__controls {
    position: relative;
    bottom: 2rem;
    height: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-height: 667px) {
      bottom: 2rem;
    }
  }

  &__chat {
    width: 100%;
    display: inline-flex;
    flex: 1 0 auto;
  }
}

