@media (max-width: 767px) {
  .room {
    display: flex;
    flex-direction: column;
    height: 100%;
    row-gap: .5rem;

    &__media {
      width: 100%;
      height: fit-content;
    }

    &__controls {
      width: 100%;
      height: fit-content;
    }

    &__chat {
      width: 100%;
      display: inline-flex;
      flex: 1 0 auto;
    }
  }
}

