@use 'src/assets/styles/colors.scss' as colors;

.footer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  background-color: colors.$primary-4;
  color: colors.$primary-2;
}

@media (max-width: 1199px) {
  .footer {
    padding: 0 4%;
  }
}

