@media screen {

  .input-label {

    color: inherit;
    margin: 2px 0;

    @media (max-width: 767px) {
      
      label {
        font-size: 16px;
        font-weight: 400;
        font-style: inherit;
        letter-spacing: .8px;
      }
    }

    @media (min-width: 768px) and (max-width: 991px) {
      font-weight: 200;
      font-style: inherit;
      font-display: fallback;
      line-height: 21px;
    }

    @media (min-width: 992px) and (max-width: 1199px) {
      font-weight: 200;
      font-style: inherit;
      font-display: fallback;
    }

    @media (min-width: 1200px) {
      font-weight: 200;
      font-style: inherit;
      font-display: fallback;
    }
  }
}

.input-label {
  // all inputs with type checkbox selector
  
}
