@use 'src/assets/styles/colors.scss' as colors;
@use 'src/assets/styles/mixins.scss' as *;

@media screen {

  .icon-button {
    &__primary {
      box-shadow: 0 0 6px -1px colors.$primary-6;
      @include icon-button (colors.$primary-7, colors.$primary-2);
    }

    &__secondary {
      box-shadow: 0 0 6px -1px colors.$primary-6;
      @include icon-button (colors.$primary-6, colors.$primary-3);
    }

    &__tertiary {
      box-shadow: 0 0 6px -1px colors.$primary-6;
      @include icon-button (colors.$primary-7, colors.$primary-4);
    }

    &__fourth {
      box-shadow: 0 0 8px 2px colors.$primary-6;
      @include icon-button (colors.$primary-7, colors.$primary-2);
    }

    &__active {
      box-shadow: 0 0 8px 2px colors.$primary-3;
      @include icon-button (colors.$primary-7, colors.$primary-2);
    }

    &_disabled {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      box-shadow: 0 0 6px -1px colors.$primary-6;
      @include icon-button (colors.$primary-8, colors.$primary-7);
    }

    &:active {
      box-shadow: 0 0 8px 2px colors.$primary-9;

    }

    @media (max-width: 767px) {
    }
  }

  @media (max-width: 1200px) {
  }

  
}
