$primary-1: #f7fbfc;
$primary-2: #d6e6f2;
$primary-3: #b9d7ea;
$primary-4: #769fcd;
$primary-5: #4d7aac;
$primary-6: #2f5b8d;
$primary-7: #1e4167;
$primary-8: #102338;
$primary-9: #000;
$primary-10: #eb152e;

$secondary-1: #f0b000;
$secondary-2: #f7e5b2;
$secondary-3: #4db294;
$secondary-4: #c6ffc2;
$secondary-5: #c22b2b;
$secondary-6: #f5bcbc; 
$secondary-7: #d0d0d0;
$secondary-8: #989898;
$secondary-9: #e8e8e8;

