@media (max-width: 768px) {

  h1 {
    margin-bottom: 0;
  }

  h2 {
    font-weight: 400;
    font-style: inherit;  
    font-display: fallback;
    letter-spacing: -.5px;
    font-size: 28px;
    line-height: 35px;
    
  }

  h4 {
    font-weight: 400;
    font-style: inherit;  
    font-display: fallback;
    letter-spacing: -.25px;
    font-size: 18px;
    line-height: 22.5px;
  }

}
